* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  margin-top: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toast {
  background-color: darkred !important;
  color: white !important;
  padding: 4px 12px !important;
  margin: 10px auto !important;
}

.logout-btn {
  position: absolute;
  top: 0;
  right: 20px;
  margin-top: 9px;
}
