* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: #222226;
$input: rgb(87, 87, 87);
$text: #777;
$border: #444446;
$white: white;
$red: rgb(151, 0, 0);
$green: rgb(0, 175, 0);

body {
  background-color: $background !important;

  .form-container {
    margin-top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .toast {
    background-color: $red !important;
    color: $white !important;
    padding: 4px 12px !important;
    margin: 10px auto !important;
  }

  .logout-btn {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 9px;
  }

  .todo-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .todo-header {
    font-size: 120px;
    color: $text;
  }

  .todo-input {
    width: 100%;
    padding: 0 45px;
    height: 65px;
    font-size: 22px;
    outline: none;
    border: 2px solid $border;
    border-radius: 4px;
    background-color: $input;
    color: $white;
  }

  .todo-list {
    width: 100%;

    .todo-item {
      width: 100%;
      border: 2px solid $border;
      min-height: 55px;
      border-radius: 4px;
      margin-top: -2px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      background-color: $input;

      .todo-toggle {
        min-width: 23px;
        height: 23px;
        background-color: $border;
        font-size: 21px;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $green;
        font-weight: bold;
        margin-top: 2px;
      }

      .todo-title {
        margin-left: 15px;
        font-size: 20px;
        color: $white;
        word-break: break-word;
        flex-wrap: wrap;
        padding: 10px 5px;

        &.-done {
          font-style: italic;
          color: $text;
          text-decoration: line-through;
        }
      }

      .remove-todo {
        margin-left: auto;
        font-size: 20px;
        color: $red;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .todo-filters {
    width: 100%;
    background-color: $input;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: $text;
    border: 2px solid $border;
    border-radius: 4px;
    margin-top: -2px;

    .filter-btn {
      cursor: pointer;
      margin-left: 40px;
      &.-active {
        color: $white !important;
      }
    }

    .remove-completed {
      cursor: pointer;
      font-size: 13px;
      margin-left: 40px;
    }

    .active-count {
      font-size: 13px;
    }
  }
  .input-container {
    position: relative;
    width: 100%;

    // ARROW DOWN //
    .arrow {
      border: solid $text;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 6px;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    i {
      position: absolute;
      top: calc(50% - 10.5px);
      left: 20px;
      cursor: pointer;
    }
  }
}
